<%= render "/partials/vars" %>
<footer role="contentinfo">
  <div class="grid-container">
    <div class="grid-25">
      Licensed under <a href="http://www.gnu.org/licenses/gpl.html" rel="license">GPL</a> and <a href="http://www.opensource.org/licenses/mit-license.php" rel="license">MIT</a>
    </div>
    <div class="grid-25">
      Created by <a href="http://sonspring.com/">Nathan Smith</a>
    </div>
    <div class="grid-25">
      Built with <a href="http://get-serve.com/">Serve</a>
    </div>
    <div class="grid-25">
      Hosted by <a href="http://www.firehost.com/">FireHost</a>
    </div>
  </div>
</footer>