<%= render "/partials/vars" %>
<%
  @title = "About"
  @page = "about"
%>
<article class="grid-65 suffix-5">
  <h1>
    About Unsemantic
  </h1>
  <p>
    <b>Note:</b> If you're curious how this site itself was built (using <a href="http://get-serve.com/">Serve</a>), check out the code on <a href="https://github.com/nathansmith/unsemantic-site">GitHub</a>. There is also a <a href="https://speakerdeck.com/nathansmith/rapid-templating-with-serve">slide deck</a> from the <a href="http://html5tx.com">HTML5.tx</a> conference, explaining how Serve was used to build Unsemantic.com.
  </p>
  <hr />
  <p>
    The Unsemantic CSS framework was created by <a href="http://sonspring.com/">Nathan Smith</a>. He works as a Principal Front-End Architect at <a href="http://www.tandemseven.com/">TandemSeven</a>.
  </p>
  <p>
    However, "no man is an island" and this came about due to the influence of good ideas from a number of other people.
  </p>
  <hr />
  <p>
    In alphabetical order (by first name), thanks to&hellip;
  </p>
  <ul class="list-spacing">
    <li>
      <a href="http://adamstacoviak.com/">Adam Stacoviak</a> &mdash; for the idea to "namespace" the <code>grid-container</code> class, from <a href="https://github.com/adamstac/grid-coordinates">Grid Coordinates</a>.
    </li>
    <li>
      <a href="http://chriseppstein.github.com/">Chris Eppstein</a> &mdash; for his tireless work on <a href="http://sass-lang.com/">Sass</a> and <a href="http://compass-style.org/">Compass</a>.
    </li>
    <li>
      <a href="http://twitter.com/anotheruiguy">Dale Sande</a> &mdash; for his presentation on <a href="https://speakerdeck.com/anotheruiguy/sass-32-silent-classes">Silent Classes</a> in Sass.
    </li>
    <li>
      <a href="http://ethanmarcotte.com/">Ethan Marcotte</a> &mdash; for his seminal article on <a href="http://alistapart.com/article/responsive-web-design">Responsive Web Design</a>, that redefined our field.
    </li>
    <li>
      <a href="http://jeffcroft.com/">Jeff Croft</a> &mdash; for writing about <a href="http://alistapart.com/article/frameworksfordesigners">Frameworks for Designers</a> before CSS frameworks were cool.
    </li>
    <li>
      <a href="http://wiseheartdesign.com/">John W. Long</a> &mdash; for creating the <a href="http://get-serve.com/">Serve</a> prototyping framework.
    </li>
    <li>
      <a href="https://github.com/dvessel">Joon Park</a> &mdash; for inventing the <code>push-x</code> and <code>pull-x</code> approach, initially added as part of <a href="http://960.gs/">960.gs</a>.
    </li>
    <li>
      <a href="http://www.markboulton.co.uk/">Mark Boulton</a> &mdash; for his articles
      (<a href="http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-designing-grid-systems-part-1">1</a>,
       <a href="http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-designing-grid-systems-part-2">2</a>,
       <a href="http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-designing-grid-systems-part-3">3</a>,
       <a href="http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-designing-grid-systems-part-4">4</a>,
       <a href="http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-designing-grid-systems-part-5">5</a>)
      on grid design.
    </li>
    <li>
      <a href="http://www.miketownson.com/">Mike Townson</a> &mdash; for reporting a <a href="http://timkadlec.com/2013/01/windows-phone-8-and-device-width/">bug</a> related to Windows Phone IE and desktop IE10 "snap mode."
    </li>
    <li>
      <a href="http://nicolasgallagher.com/">Nicholas Gallagher</a> &mdash; for his <a href="http://nicolasgallagher.com/mobile-first-css-sass-and-ie/">article</a> on using Sass to <code>@import</code> partials within a <code>@media</code> query.
    </li>
    <li>
      <a href="http://www.stubbornella.org/">Nicole Sullivan</a> &mdash; for her presentations on <a href="http://www.slideshare.net/stubbornella/object-oriented-css">OO CSS</a> and <a href="http://www.slideshare.net/stubbornella/our-best-practices-are-killing-us">Our Best Practices are Killing Us</a>.
    </li>
    <li>
      <a href="http://wynnnetherland.com/">Wynn Netherland</a> &mdash; for insisting that all his friends at least <i>try</i> to use Sass and Compass.
    </li>
  </ul>
</article>
<aside class="grid-30">
  <%= render "/partials/fusion_ad" %>
  <h2>
    &#8220;Family&#8221; History
  </h2>
  <p>
    The first lines of code (of what eventually became Unsemantic) were written to facilitate a "save the date" site for Nathan's sister and brother in law.
  </p>
  <p>
    After making the site, he distilled it down into something suitably reusable for a grid framework.
  </p>
  <p>
    If you care to see that original site, take a gander&hellip;
  </p>
  <p>
    <a href="http://tedbethany.com/">TedBethany.com</a>
  </p>
  <p>
    But don't judge too harshly, as that was just the fledging beginnings of a fluid grid framework!
  </p>
</aside>