<%= render "/partials/vars" %>
<%
  @page = "css_documentation"
%>
<%= render "/partials/table_of_contents" %>
<div class="grid-70" id="documentation">
  <%= render "/partials/css_documentation" %>
</div>