<%= render "/partials/vars" %>
<%
  @title = "Responsive Demo - LTR"
  @page = "responsive_ltr"
%>
<div class="grid-80 align-center">
  <%= render "/partials/demo_top" %>
  <p>
    <b>View grid CSS&hellip;</b>
  </p>
  <p>
    <a href="https://raw.github.com/nathansmith/unsemantic/master/assets/stylesheets/unsemantic-grid-responsive.css">unsemantic-grid-responsive.css</a>
  </p>
</div>
<div class="grid-20">
  <%= render "/partials/carbon_ad" %>
</div>
<%= render "/partials/demo_grid" %>