<%= render "/partials/vars" %>
<%
  @adapt_js = true
  @page = "adapt_ltr"
%>
<div class="grid-100 align-center">
  <%= render "/partials/demo_top" %>
  <p>
    <b>View grid CSS&hellip;</b>
  </p>
  <ul class="list-inline">
    <li>
      <a href="./stylesheets/unsemantic-grid-base.css">unsemantic-grid-base.css</a>
    </li>
    <li>
      <a href="./stylesheets/unsemantic-grid-desktop.css">unsemantic-grid-desktop.css</a>
    </li>
    <li>
      <a href="./stylesheets/unsemantic-grid-mobile.css">unsemantic-grid-mobile.css</a>
    </li>
  </ul>
</div>
<%= render "/partials/demo_grid" %>