<%= render "/partials/vars" %>
<%
  @title = "Responsive Demo - LTR"
  @page = "responsive_ltr"
%>
<div class="grid-100 mobile-grid-100 align-center">
  <%= render "/partials/demo_top" %>
  <p>
    <b>View grid CSS&hellip;</b>
  </p>
  <p>
    <a href="./stylesheets/unsemantic-grid-responsive.css">unsemantic-grid-responsive.css</a>
  </p>
</div>
<%= render "/partials/demo_grid" %>